.container {
	width: 100%;
	display: flex;
	border-radius: 2px;
	background-color: #00b3ad;
}

.input {
	width: 100%;
	border: none;
	height: 40px;
	padding-left: 24px;
}

.search-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 16px;
}

.search-icon > img {
	width: 24px;
	height: 24px;
}